*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #161a1d;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(255, 255, 63, 0.6);
    font-size: 8vmin;
    color: #252422;
    background-color: #EEEF20;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fffffa;
    color: #8c0000;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fffffa;
    color: #8c0000;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #8c0000;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.green{
    color: #fff;
}
h1{
    color: #8c0000;
    text-shadow: #8c0000 1px 0 10px;
}
